#nav-bar {
  background-color: #9d7cb1;
  max-width: 290px;
  width: 100%;
  color: white;
  height: 100%;
  margin-bottom: 0;

  #nav-list {
    max-width: 200px;
    margin-top: 10px;

    .item {
      border-bottom: 2px solid white;
    }
  }

  #sign-out-button {
    margin-top: 30px;
  }
}
